# Requirements for socorro-submitter AWS Lambda package
#
# Generates requirements.txt file.

dockerflow==2022.8.0
google-auth==2.29.0
google-api-core[grpc]==2.19.0
google-cloud-logging==3.10.0
googleapis-common-protos[grpc]==1.63.0
requests==2.31.0

# NOTE(willkg): These need to be locked together. This is a known-good
# combination.
boto3==1.28.68
botocore==1.31.68
s3transfer==0.7.0
